*{
    margin: 0;
    padding: 0;
}
body{
    font-family: tahoma;

}
.search-box{
    
    position: relative;
    top: 5%;
    float: right;
    right: 70%;
  
   background: rgb(241, 186, 127);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}.search-box:hover > .search-text{
    width:  140px ;
    padding: 0 6px ;
}.search-box:hover > .search-btn{
   background: white;}


.search-btn{
    color: rgb(141, 158, 47);
    float:right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(241, 186, 127);
    display: flex;
    justify-content: center;
    align-items: center;
  transition: 0.4s;

}
.search-text{
    border: none;
    background: none;
    outline:none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}



.row{
    max-width: 1140px;
    margin: 0 auto;
}

.hero{

    position: absolute;
    width: 1140px;
    top: 50%;
    left: 48%;
    transform: translate(-50%,-50%);
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/re.jpg);
    height: 90vh;
    background-position: center;
    background-size: cover;
}
h1{
    color: rgb(219, 250, 250);
}
.main-nav{
    clear: both;
 list-style: none;
    float: right;
    margin-top: -5px;
}


.main-nav li{
    display: inline-block;
    margin-left: 20px;
}
.main-nav li a{
    color: white;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
}
.main-nav li a:hover{
    color: rgb(247, 63, 30);
    border-bottom: 2px solid #e67e22;
    transition: all 0.5s ease-in;
    padding:  15px ;
}

.btn{
    border: 2px solid #e67e22;
    padding: 10px 30px;
    color: #e42908;
    text-decoration: none;
    border-radius: 12px;
    margin-right: 15px;
}
.button-awesome{
    margin-top: 40px;
}
 .btn-half{
     background-color: #D2C0A7;
     color: rgb(70, 20, 2);
     
     

}
.btn-full{
    background-color: #D2C0A7;
    color:rgb(70, 20, 2);
    transition: all 0.5s ease-in;
}
.btn-half:hover{
    background-color: #BB8954;
}
.btn-full:hover{
    background-color: #BB8954;

}
.title-4{
    
   background:#D2C0A7;

    width: 1349px;
    height: 90px;
    text-align: center;
    border-radius: 20px;
    
}.title-4 h1{
    font-size: 60px;
    color:#0D1F2D ;

}
.back{
    background : url(img/111.jpg) no-repeat;
    background-size: cover;
    width: 1349px;
    height: 450px;

}
    

.first{
    float: left;
    background-color:#E9B78B ;
    width: 300px;
    height: 400px;
    margin: 17px;
    border-radius: 30px;
    
} 
h3{
    color: #5e1003;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 9px;
}
.title{
    color: #632F2F;
    font-size: 15px;
    text-align: center;
    
}
.second{
    float: left;
    background-color:#E9B78B ;
    width: 300px;
    height: 400px;
    margin: 17px;
    border-radius: 30px;
} 
.third{
    float: left;
    background-color:#E9B78B ;
    width: 300px;
    height: 400px;
    margin: 17px;
    border-radius: 30px;
} 
.four{
    float: left;
    background-color:#E9B78B ;
    width: 300px;
    height: 400px;
    margin: 17px;
    border-radius: 30px;
} 
.first img{
    border-radius: 30px;
}
.second img{
    border-radius: 30px;
}.third img{
    border-radius: 30px;
}
.four img{
    border-radius: 30px;
}
.back-pic{
    background: url(img/111.jpg)no-repeat;
    background-size: cover;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    width: 1349px;
    height: 550px;
}


  .swiper-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    
  }
   .swiper-slide{
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 300px;
    background: #fff;
  }
  .swiper-slide .imgbx{
      width: 100%;
      height: 300px;
      overflow: hidden;
      
  }
   .back-pic .hdr{
       color: #f0e4e2;
       text-align: center;
       font-size: 30px;
       padding-top: 20px;

  }
  .products {
      width: 1349px;
      display: table;
      margin: 0 auto;
      background:  url(img/111.jpg);
      height: 1050px;
      padding-top: 90px;
      
  }
  
     
      
  
  .products h1{
      
     
      color: black;
       background-color: #D2C0A7;
      margin: 0px;
      line-height: 41px;
      text-align: center;
      font-weight: normal;
      font-size: 30px;
      padding-bottom: 20px;
      border-radius: 20px;
      
      


  }
  .products ul li{
      float: left;
      padding: 0px;
      margin: 0;
      list-style: none;
  }
  .products ul{
      width: 100%;
      
      
      margin-top: 40px;
  }
  .products ul li{
      width: 25%;
      margin-bottom: 10px;
  }
  .pro{ 
      
      float: left;
      width: 300px;
      background-color: rgb(104, 68, 68);
      border-bottom: #d3654c 1px solid;
      position: relative; 
      border-radius: 20px;
      
     
    
  }
  .pro a{
      float: left;
      width: 100%;
      text-align: center;
      
  }
  
      
  
  .pro .imge img{
      height: 300px;
      max-width:  100%;
      border-bottom: #d3654c 5px solid;
      border-radius: 10px;
     
      
  } 

  
  
 
   .name{
      font-weight: bolder;
      color: black;
      font-size: 15px;
      text-decoration: none;
      margin-top: 10px;
  }
 .pro  .name:hover{
      color: #f3ac9c;
  }
  .pro div{
      font-size: 18px;
      font-weight: bold;
      color: #d3654c;
      text-indent: 10px;
      margin: 10px 0 10px 0;
      float: left;
      width: 100%;;

  }
  .pro  .cart{
      border-top: #d3654c 1px solid;
      background: #ee5a5a  2px 2px ;
      line-height: 30px;
      font-weight: bold;
      color: #4b1205;
      text-decoration: none;
  }
  .pro  .cart:hover {
      color: #f3ac9c;
  }
  .pro span{

      position: relative;
      bottom: 400px;
      background: rgb(156, 152, 156) ;
      font-size: 30px;
      border-radius: 10px;


  }
  .pro span:hover{
      color: #f3ac9c;
  }
  .apap{
       width: 100%;
    margin: auto;
    background:  rgb(44, 23, 1);
    height: 600px;
    padding-top: 20px;
    background-image: url(img/8.jpg)  ;
    background-size: cover;
    display: flex;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);}


    .apap{
        position: relative;
        top: 49%;
    }

  
  
  .apap h1 a{
      color: rgb(46, 3, 3);
      text-align:center;
      font-size: 30px;
      text-decoration: none;
     background: rgb(241, 192, 127);
     border-radius: 15px;
     margin: 30px;
      
    


  }.apap  h1 :hover{
     background-color : #CB3843;
  }
  
  
 
.imgSection{
    height: 450px;
    width: 350px;
    background-color: #CB3843;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    padding-top: 60px;
}
.infoSection{
    height: 380px;
    width: 520px;
    background-color:#0D1F2D;
    position: relative;
    margin-top: 25px;
    margin-left: -150px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
    padding-top: 60px;
}
.product2{
    height: 300px;
    width: 300px;
    position: absolute;
    left: 33%;
}
.headphone{
    width: 70%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}


.productName{
    font-family: fantasy;
    font-size: 25px;
    color:white;
    margin-top: 40px;
    margin-left: 5px;
}
.productNo{
    font-family: arial;
    font-size: 13px;
    color:white;
    margin-top: 5px;
    margin-left: 5px;
}
.price{
    font-family: arial;
    font-size: 20px;
    color:white;
    margin-top: 10px;
    margin-left: 5px;
}
.productColor{
    font-family: arial;
    font-size: 10px;
    color:white;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 20px;
}
.colors{
    margin-top:15px;
    margin-left: 35px;
    display: flex;
}
.c1,.c2,.c3{
    height: 15px;
    width: 15px;
    background-color:#C5C5c5;
    border-radius: 50%;
    cursor: pointer;
}
.c1{
    box-shadow: 0 0 0 2px #0D1F2D, 0 0 0 3.5px #CB3843;
}
.c2{
    background-color:#6C4B3F;
    margin-left: 10px;
}
.c3{
    background-color:#DAAF84;
    margin-left: 10px;
}
.rate{
    height: 60px;
    width: 60px;
    font-family: arial;
    font-size: 12px;
    color:white;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    border: 2px solid #CB3843;
    position: absolute;
    top:60%;
    left: 68%;
    transform: translate(-50%,-50%);
}
.productRate{
    font-family: arial;
    font-size: 10px;
    color:white;
    font-weight: bold;
    position: absolute;
    top:75%;
    left: 68%;
    transform: translate(-50%,-50%);
}
.line{
    height: 100px;
    width: 2px;
    background-color:#CB3843;
    position: absolute;
    top:63%;
    left: 48%;
    transform: translate(-50%,-50%);
}
.addToCart{
    height: 35px;
    width: 100px;
    background-color:#cb3843;
    border-radius: 25px;
    font-family: arial;
    color:white;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    position: absolute;
    top:88%;
    left: 25%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.addToWishlist{
    width: 150px;
    display: flex;
    font-family: arial;
    color:white;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    top:88%;
    left: 79%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.heart{
    line-height: 15px;
    font-size: 15px;
    color:#CB3843;
    margin-right: 5px;
}
.next,.pre{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    color:#CB3843;
    position: absolute;
    top:50%;
    left: 85%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
    cursor: pointer;
    
}.next{
    right: 90%;
}
.pre{
    left: 32%;
    box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}
.h1{
    top:-30%;
}
.h3{
    top:130%;
}
.product1,.product3{
    height: 300px;
    width: 300px;
    display: none;
    position: absolute;
    left: 33%;
}
.bobo{
    width: 100%;
 margin:0 auto;
 background:  rgb(44, 23, 1);
 height: 600px;
 padding-top: 20px;
 background-image: url(img/111.jpg)  ;
 background-size: cover;
 display: flex;
 position: absolute;
 top:50%;
 left: 50%;
 transform: translate(-50%,-50%);}


 .bobo{
     position: relative;
     top: 49%;
 }


#box{
    height: 200px;
    width: 1000px;
    background-color:rgb(1, 36, 4);
    border-radius: 5px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main{
    height: 400px;
    width: 450px;
    background-color:#BB8954;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
#loginform,#signupform{
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
#signupform{
    top:45%;
    left: 75%;
    visibility: hidden;
}
#loginform h1,#signupform h1{
    font-family: arial;
    font-size: 25px;
    color:turquoise;
}
#loginform input,#signupform input{
    height: 40px;
    width: 300px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid rgb(73, 3, 3);
    margin: 5px;
}
#loginform button,#signupform button{
    height: 35px;
    width: 130px;
    background-color:turquoise;
    font-family: monospace;
    font-size: 16px;
    color:rgb(241, 132, 132);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 175px;
}
#login_btn,#signup_btn{
    height: 35px;
    width: 120px;
    background-color:transparent;
    color:rgb(248, 193, 193);
    border:1px solid rgb(243, 198, 198);
    border-radius: 5px;
    outline: none;
    position: absolute;
    left: 75%;
    top:65%;
    transform: translate(-50%,-50%);
    transition: all .5s;
}
#signup_btn{
    left: 25%;
}
#login_btn:hover,#signup_btn:hover{
    background-color:rgb(241, 169, 169);
    color:#2d2d2d;
    cursor: pointer;
}
#login_msg,#signup_msg{
    font-family: arial;
    font-size: 25px;
    color:rgb(173, 138, 138);
    position: absolute;
    top:35%;
    left: 75%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#signup_msg{
    left: 25%;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

.last{ margin-top: -5px;
    width: 1349px;
    height: 700px;
    background: url(img/111.jpg) no-repeat;
    background-size: cover;
    
    

}.last h1{
    color: #CD6657;
    text-align: center;

}



.warr{
   
   
    float: left;
    background-color:rgb(94, 65, 40) ;
    width: 300px;
    height: 400px;
    margin: 17px;
    border-radius: 20px;
    font-size: 10px;
    /*overflow: hidden;*/

    
    
}.columnn .imgd{
    position: relative;

}
.columnn .imgd img{
    max-width: 100%;
    transition: 1s;
}
 .imgd img:hover{
    transform: scale(1.5);
}
.detialss{
    width: 300px;
    height: 400px;

}.contentt{
    font-size: 10px;
    color: #CB3843;
    background: #BB8954;

}.columnn ul li{
    float: left;
    font-size: 28px;
    color: #CB3843;
    background: #BB8954;
    width: 100px;
    height: 50px;
    text-align: center;
    list-style: none;


}
.font{
    width: 1349px;
    height: 300px;
    background: url(img/222.jpg)no-repeat;
    background-size: cover;
}
.font h1 ,h5{
    color: rgb(20, 45, 65);
    text-align: center;
    padding-top: 30PX;

}
.s-m{
    position: relative;
    top: 30%;
    left: 86%;
    transform: translate(-50%,-50%);
    margin: auto;
     
  }
  .s-m a{
    display: inline-flex;
    width: 60px;
    height: 60px;
    background: #2c3e50;
    color: #dac8c8;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 40px;
  }
  .s-m a:hover{
    background: #be2e2e;
  }
  .s-m a i{
    transition: 0.4s all;
  }
  .s-m a:hover > i{
    transform: scale(1.6) rotate(25deg);
  }
  .vote{
      width: 1349px;
      height: 500px;
      background:url(img/FAVOR.jpg) no-repeat;
   background-size: 1349px;
      

  }
  
.vote .titi{
    float: left;
    position: relative;
    left: -10px;
    font-size: 30px;
    color: rgb(243, 182, 92);
}
  